@model ScoreViewModel
@{
    ViewData["Title"] = "Data input";
}
@if (Model.Succeed)
{
    <div>
        <h2>Оценка текста</h2>
        <p>Общая оценка: <span>@Model.Score</span> баллов</p>
    </div>
}
else
{
    <div>
        <h2>Ошибка</h2>
        <p>Не удалось получить оценку текста: <span>@Model.ErrorText</span></p>
    </div>
}
