@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Данные: <input name="data" type="text"/><br>
        <input type="submit">
    </form>
</div>