@{
    ViewData["Title"] = "Upload";
}

<form>
  <fieldset>
    <legend>Загрузка файла</legend>
    <input type="file" name="image_file" id="image_file" /></div>
  </fieldset>
  <p><input type="submit" value="Отправить"></p>
</form>
